﻿@model WebBConcursos.Models.BancaModel
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-delete">
    @using (Ajax.BeginForm("ExcluirFinal", "Bancas", new AjaxOptions { UpdateTargetId = "div-listagem", OnComplete = "Completo", OnFailure = "Falha", OnBegin = "Carregando", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal", @style = "margin-bottom: 0px !important;" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" id="id" value="@Model.BancaId" />
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel" class="modal-title">Excluir Banca Examinadora</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        Deseja realmente excluir o registro abaixo?
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.DisplayTextFor(model => model.Nome)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                    <button class="btn btn-danger" type="submit">Excluir</button>
                </div>
            </div>
        </div>
    }
</div>
