﻿@model WebBConcursos.Models.ConcursoModel
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-registro">
    @using (Ajax.BeginForm("Editar", "Concursos", new AjaxOptions { UpdateTargetId = "div-listagem", OnComplete = "Completo", OnFailure = "Falha", OnBegin = "Carregando", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal", @style = "margin-bottom: 0px !important;" }))
    {
        <div class="modal-dialog modal-lgcad">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel" class="modal-title">Editar Concurso</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(h => h.ConcursoId)
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-12 bg-subtitulo">
                                <div class="sub-titulo">Dados do concurso</div>
                            </div>
                        </div>
                        <div class="form-group w-v">
                            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Descricao)
                            </div>
                        </div>
                        <div class="form-group w-v">
                            @Html.LabelFor(model => model.Ano, new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.Ano, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Ano)
                            </div>
                            @Html.LabelFor(model => model.QtdInscritos, new { @class = "control-label col-md-1" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.QtdInscritos, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.QtdInscritos)
                            </div>
                            @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.Tags, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Tags)
                            </div>
                        </div>
                        <div class="form-group w-v">
                            @Html.LabelFor(model => model.InstituicaoId, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.InstituicaoId, (IEnumerable<SelectListItem>)ViewBag.Instituicoes, new { @class = "campo-cadastro", @onchange = "getEstadoInstituicao($(this).val())" })
                                @Html.ValidationMessageFor(model => model.InstituicaoId)
                            </div>
                            @Html.LabelFor(model => model.BancaExaminadoraId, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.BancaExaminadoraId, (IEnumerable<SelectListItem>)ViewBag.Bancas, new { @class = "campo-cadastro" })
                                @Html.ValidationMessageFor(model => model.BancaExaminadoraId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Estados, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.ListBoxFor(x => x.Estados, (List<SelectListItem>)ViewBag.ListaDeEstados, new { @class = "campo-cadastro", @onchange = "getCidades($(this).val())", Multiple = "multiple" })
                            </div>
                            @Html.LabelFor(model => model.Cidades, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.ListBoxFor(x => x.Cidades, (List<SelectListItem>)ViewBag.ListaDeCidades, new { @class = "campo-cadastro controla-cidades", Multiple = "multiple" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 bg-subtitulo">
                                <div class="sub-titulo">Situação do concurso</div>
                            </div>
                        </div>
                        <div class="form-group w-v">
                            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.Status, (IEnumerable<SelectListItem>)ViewBag.Situacoes, new { @class = "campo-cadastro" })
                                @Html.ValidationMessageFor(model => model.Status)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <strong>Concurso previsto</strong>
                                @Html.HiddenFor(m => m.ConcursoPrevisto.ConcursoPrevistoId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConcursoPrevisto.Especulacao, new { @class = "control-label col-md-1 lbl-01" })
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.ConcursoPrevisto.Especulacao, MVCExtensoes.SelectListSimNao((Model != null && Model.ConcursoPrevisto != null) ? Model.ConcursoPrevisto.Especulacao : false), new { @class = "campo-cadastro" })
                            </div>
                            @Html.LabelFor(model => model.ConcursoPrevisto.DataEspeculacao, new { @class = "control-label col-md-1 lbl-01" })
                            <div class="col-md-1">
                                @Html.TextBoxFor(model => model.ConcursoPrevisto.DataEspeculacao, new { @class = "form-control date_mask" })
                            </div>
                            @Html.LabelFor(model => model.ConcursoPrevisto.Solicitado, new { @class = "control-label col-md-1 lbl-01" })
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.ConcursoPrevisto.Solicitado, MVCExtensoes.SelectListSimNao((Model != null && Model.ConcursoPrevisto != null) ? Model.ConcursoPrevisto.Solicitado : false), new { @class = "campo-cadastro" })
                            </div>
                            @Html.LabelFor(model => model.ConcursoPrevisto.DataSolicitacao, new { @class = "control-label col-md-1 lbl-01" })
                            <div class="col-md-1">
                                @Html.TextBoxFor(model => model.ConcursoPrevisto.DataSolicitacao, new { @class = "form-control date_mask" })
                            </div>
                            @Html.LabelFor(model => model.ConcursoPrevisto.Autorizado, new { @class = "control-label col-md-1 lbl-01" })
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.ConcursoPrevisto.Autorizado, MVCExtensoes.SelectListSimNao((Model != null && Model.ConcursoPrevisto != null) ? Model.ConcursoPrevisto.Autorizado : false), new { @class = "campo-cadastro" })
                            </div>
                            @Html.LabelFor(model => model.ConcursoPrevisto.DataAutorizacao, new { @class = "control-label col-md-1 lbl-01" })
                            <div class="col-md-1">
                                @Html.TextBoxFor(model => model.ConcursoPrevisto.DataAutorizacao, new { @class = "form-control date_mask" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <strong>Concurso com edital publicado</strong>
                                @Html.HiddenFor(m => m.ConcursoEditalPublicado.ConcursoEditalPublicadoId)
                            </div>
                        </div>
                        <div class="form-group w-v">
                            @Html.LabelFor(model => model.ConcursoEditalPublicado.DataInicioInscricao, new { @class = "control-label col-md-2 lbl-01" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.ConcursoEditalPublicado.DataInicioInscricao, new { @class = "form-control date_mask" })
                                @Html.ValidationMessageFor(model => model.ConcursoEditalPublicado.DataInicioInscricao)
                            </div>
                            <div class="col-md-2">&nbsp;</div>
                            @Html.LabelFor(model => model.ConcursoEditalPublicado.DataFimInscricao, new { @class = "control-label col-md-2 lbl-01" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.ConcursoEditalPublicado.DataFimInscricao, new { @class = "form-control date_mask" })
                                @Html.ValidationMessageFor(model => model.ConcursoEditalPublicado.DataFimInscricao)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 bg-subtitulo">
                                <div class="sub-titulo">Cargos</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <table id="list-cargos">
                                    <tr>
                                        <td>@Html.DropDownList("InputCargoId", (IEnumerable<SelectListItem>)ViewBag.Cargos, new { @class = "campo-cadastro txt-04", @onchange = "getDadosCargo($(this).val())" })</td>
                                        <td>@Html.DropDownList("InputEscolaridadeId", (IEnumerable<SelectListItem>)ViewBag.Escolaridades, new { @class = "campo-cadastro txt-04" })</td>
                                        <td><input type="text" id="InputVagas" name="InputVagas" class="txt-01" placeholder="Vagas" /></td>
                                        <td><input type="text" id="InputCadastroReserva" name="InputCadastroReserva" class="txt-01" placeholder="Cad. reserva" /></td>
                                        <td><input type="text" id="InputVagasDeficientes" name="InputVagasDeficientes" class="txt-01" placeholder="Deficientes" /></td>
                                        <td><input type="text" id="InputVagasNegros" name="InputVagasNegros" class="txt-01" placeholder="Negros" /></td>
                                        <td><input type="text" id="InputTxInscricao" name="InputTxInscricao" class="txt-02" placeholder="Inscrição" /></td>
                                        <td><input type="text" id="InputSalario" name="InputSalario" class="txt-02" placeholder="Salário" /></td>
                                        <td>@Html.DropDownList("InputHorista", MVCExtensoes.SelectListHorista(false), new { @class = "campo-cadastro txt-01" })</td>
                                        <td><input type="text" id="InputCargaHoraria" name="InputCargaHoraria" class="txt-01" placeholder="Carga horária" /></td>
                                        <td><input type="text" id="InputDataProvaObjetiva1" name="InputDataProvaObjetiva1" class="txt-03 date_mask" placeholder="Prova Objetiva 1" /></td>
                                        <td><input type="text" id="InputDataProvaObjetiva2" name="InputDataProvaObjetiva2" class="txt-03 date_mask" placeholder="Prova Objetiva 2" /></td>
                                        <td><input type="text" id="InputDataProvaPratica" name="InputDataProvaPratica" class="txt-03 date_mask" placeholder="Prova prática" /></td>
                                        <td><input type="text" id="InputDataProvaTitulos" name="InputDataProvaTitulos" class="txt-03 date_mask" placeholder="Prova títulos" /></td>
                                        <td><input type="text" id="InputDataProvaTAF" name="InputDataProvaTAF" class="txt-03 date_mask" placeholder="Prova TAF" /></td>
                                        <td>
                                            <input type="hidden" id="InputPosicaoEditando" name="InputPosicaoEditando" />
                                            <input type="hidden" id="InputConcursoCargoId" name="InputConcursoCargoId" />
                                            <button class="btn btn-primary add-cargo" type="button" onclick="NovoCargo()" id="novo-concurso-cargo"><i class="fa fa-plus"></i></button>
                                            <button class="btn btn-success" type="button" onclick="SalvarEditar()" id="salvar-editar"><i class="fa fa-check" title="Salvar"></i></button>
                                            <button class="btn btn-danger" type="button" onclick="CancelarEditar()" id="cancelar-editar"><i class="fa fa-ban" title="Cancelar"></i></button>
                                        </td>
                                    </tr>
                                    @if(Model != null)
                                    { 
                                        for (int i = 0; i < Model.Cargos.Count(); i++)
                                        {
                                            WebBConcursos.Models.ConcursoCargoModel item = Model.Cargos[i];
                                        <tr id="tr-@i">
                                            <td class="lbl-01">
                                                <span id="Cargos_NomeCargo_@i">@item.NomeCargo</span>
                                                <input type="hidden" id="Cargos_CargoId_@i" name="Cargos[@i].CargoId" value="@item.CargoId" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_NomeEscolaridade_@i">@item.NomeEscolaridade</span>
                                                <input type="hidden" id="Cargos_EscolaridadeId_@i" name="Cargos[@i].EscolaridadeId" value="@item.EscolaridadeId" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelVagas_@i">@item.Vagas</span>
                                                <input type="hidden" id="Cargos_Vagas_@i" name="Cargos[@i].Vagas" value="@item.Vagas" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelCadastroReserva_@i">@item.CadastroReserva</span>
                                                <input type="hidden" id="Cargos_CadastroReserva_@i" name="Cargos[@i].CadastroReserva" value="@item.CadastroReserva" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelVagasDeficientes_@i">@item.VagasDeficientes</span>
                                                <input type="hidden" id="Cargos_VagasDeficientes_@i" name="Cargos[@i].VagasDeficientes" value="@item.VagasDeficientes" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelVagasNegros_@i">@item.VagasNegros</span>
                                                <input type="hidden" id="Cargos_VagasNegros_@i" name="Cargos[@i].VagasNegros" value="@item.VagasNegros" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelTxInscricao_@i">@item.TxInscricao</span>
                                                <input type="hidden" id="Cargos_TxInscricao_@i" name="Cargos[@i].TxInscricao" value="@item.TxInscricao" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelSalario_@i">@item.Salario</span>
                                                <input type="hidden" id="Cargos_Salario_@i" name="Cargos[@i].Salario" value="@item.Salario" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelHorista_@i">/@item.HoristaNome</span>
                                                <input type="hidden" id="Cargos_Horista_@i" name="Cargos[@i].Horista" value="@item.Horista.ToString().ToLower()" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelCargaHoraria_@i">@item.CargaHoraria</span>
                                                <input type="hidden" id="Cargos_CargaHoraria_@i" name="Cargos[@i].CargaHoraria" value="@item.CargaHoraria" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelDataProvaObjetiva1_@i">@item.DataProvaObjetiva1.ToShortDate()</span>
                                                <input type="hidden" id="Cargos_DataProvaObjetiva1_@i" name="Cargos[@i].DataProvaObjetiva1" value="@item.DataProvaObjetiva1.ToShortDate()" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelDataProvaObjetiva2_@i">@item.DataProvaObjetiva2.ToShortDate()</span>
                                                <input type="hidden" id="Cargos_DataProvaObjetiva2_@i" name="Cargos[@i].DataProvaObjetiva2" value="@item.DataProvaObjetiva2.ToShortDate()" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelDataProvaPratica_@i">@item.DataProvaPratica.ToShortDate()</span>
                                                <input type="hidden" id="Cargos_DataProvaPratica_@i" name="Cargos[@i].DataProvaPratica" value="@item.DataProvaPratica.ToShortDate()" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id ="Cargos_LabelDataProvaTitulos_@i">@item.DataProvaTitulos.ToShortDate()</span>
                                                <input type="hidden" id="Cargos_DataProvaTitulos_@i" name="Cargos[@i].DataProvaTitulos" value="@item.DataProvaTitulos.ToShortDate()" />
                                            </td>
                                            <td class="lbl-01">
                                                <span id="Cargos_LabelDataProvaTAF_@i">@item.DataProvaTAF.ToShortDate()</span>
                                                <input type="hidden" id="Cargos_DataProvaTAF_@i" name="Cargos[@i].DataProvaTAF" value="@item.DataProvaTAF.ToShortDate()" />
                                            </td>
                                            <td>
                                                <a href="javascript:ExcluirCargoConcurso(@i);" class="ico-on" id="chave_@i"></a>
                                                <a href="javascript:EditarCargoConcurso(@i);" class="ico-edit" id="chave_edit_@i"></a>
                                                <input type="hidden" id="Cargos_ConcursoCargoId_@i" name="Cargos[@i].ConcursoCargoId" value="@item.ConcursoCargoId" />
                                                <input type="hidden" id="Cargos_Acao_@i" name="Cargos[@i].Acao" value="@item.Acao" />
                                            </td>
                                        </tr>                                        
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    @if (Model != null) {
        @("var indiceCargo = " + Model.Cargos.Count.ToString() + ";");
    }
    else {
        @("var indiceCargo = 0;");
    }
    function ReparseValidation() {
        $.validator.unobtrusive.parse("#modal-registro");
        $('.date_mask').mask('00/00/0000');
        $("#Estados, #Cidades").multipleSelect({
            width: '100%'
        }); 
        $('#InputSalario').maskMoney({ allowNegative: false, thousands: '.', decimal: ',', affixesStay: false });
        $('#InputTxInscricao').maskMoney({ allowNegative: false, thousands: '.', decimal: ',', affixesStay: false });
    }
    ReparseValidation();
</script>