﻿@model WebBConcursos.Models.ConcursoViewModel
@{
    Layout = null;
}
<table class="table table-striped table-hover table-bordered" id="editable-sample">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Ano</th>
            <th>Instituição</th>
            <th>Cadastro</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Concursos)
        {
            <tr class="">
                <td>@item.ConcursoId</td>
                <td>@item.Descricao</td>
                <td>@item.Ano</td>
                <td>@item.InstituicaoId</td>
                <td>@item.DataCadastro</td>
                <td><a class="editar-registro" href="javascript:EditarRegistro(@item.ConcursoId, '@ViewContext.RouteData.Values["Controller"]');"><img src="@Url.Content("~/Content/images/edit.png")" border="0" /></a></td>
                <td><a class="excluir-registro" href="javascript:ExcluirRegistro(@item.ConcursoId, '@ViewContext.RouteData.Values["Controller"]');"><img src="@Url.Content("~/Content/images/del.png")" border="0" /></a></td>
            </tr>
        }
    </tbody>
</table>


