﻿@model WebBancoConcursos.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Banco Concursos - Login</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/fonts.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/style-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/alertify.core.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/alertify.default.css")" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
            <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
        <![endif]-->
</head>
<body>
    <div class="login-container">
        <div class="middle-login">
            <div class="block-web">
                <div class="head">
                    <p class="text-center">Banco Concursos - Admin</p>
                </div>
                <div style="background:#fff;">
                    @Html.Action("RenderLogin", "Login")
                </div>
            </div>
            <div class="text-center out-links"><a href="#">&copy;  Copyright @DateTime.Now.Year.ToString(). </a></div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/accordion.js")
    @Scripts.Render("~/Scripts/common-script.js")
    @Scripts.Render("~/Scripts/jquery.nicescroll.js")
    @Scripts.Render("~/Scripts/jquery.placeholder.min.js")
    @Scripts.Render("~/Scripts/alertify.js")
    @Scripts.Render("~/Scripts/JScript.js")
</body>
</html>


