﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <title>Banco Concursos - Admin</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/data-tables")
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />


    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryui")

    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Url.Content("~/Scripts/methods_pt.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.custom.pt-br.js")"></script>
    @Scripts.Render("~/bundles/script")
    @Scripts.Render("~/Scripts/jquery.placeholder.min.js")
    @Scripts.Render("~/Scripts/jquery.mask.min.js")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
            <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
        <![endif]-->
</head>
<body class="light-theme">
    <div class="header navbar navbar-inverse box-shadow navbar-fixed-top">
        <div class="navbar-inner">
            <div class="header-seperation">
                <ul class="nav navbar-nav">
                    <li class="sidebar-toggle-box"> <a href="#"><i class="fa fa-bars"></i></a> </li>
                    <li> <a href="@Url.Action("Index", "Home")"><strong>Banco Concursos</strong></a> </li>
                    <li class="hidden-xs"> <a href="#"><i class="fa fa-angle-double-left"></i> Go to the front page</a> </li>
                    <li class="hidden-xs">
                        <div class="hov">
                            <div class="btn-group">
                                <a data-toggle="dropdown" href="" class="con"><span class="fa fa-bell"></span><span class="label label-danger">33</span></a>
                                <ul role="menu" class="dropdown-menu pull-right dropdown-alerts">
                                    <li class="title"><span class="icon icon-bell"></span>&nbsp;&nbsp;There are 5 new alerts in the system...</li>
                                    <li class="alert">
                                        <div class="alert-icon alt-default"><span class="fa fa-check-square"></span></div>
                                        <div class="alert-content">Quality check was successful</div>
                                        <div class="alert-time">32 sec ago</div>
                                    </li>
                                    <li class="alert">
                                        <div class="alert-icon alt-primary"><span class="fa fa-plus-square"></span></div>
                                        <div class="alert-content">New user added (John Doe)</div>
                                        <div class="alert-time">11 min ago</div>
                                    </li>
                                    <li class="alert">
                                        <div class="alert-icon alt-warning"><span class="fa fa-pencil-square"></span></div>
                                        <div class="alert-content">User profile updated (John Doe)</div>
                                        <div class="alert-time">3 hours ago</div>
                                    </li>
                                    <li class="alert">
                                        <div class="alert-icon alt-danger"><span class="fa fa-warning"></span></div>
                                        <div class="alert-content">System failure reported</div>
                                        <div class="alert-time">2 days ago</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a data-toggle="dropdown" href="" class="con"><span class="fa fa-envelope"></span><span class="label label-success">7</span></a>
                                <ul role="menu" class="dropdown-menu pull-right dropdown-messages">
                                    <li class="title"><span class="fa fa-envelope"></span>&nbsp;&nbsp;You have 13 new messages to read...</li>
                                    <li class="message">
                                        <div class="message-icon"><img src="@Url.Content("~/Content/images/avatar2.jpg")"></div>
                                        <div class="message-content">
                                            <a href="#">John Doe</a> <br>
                                            Lorem ipsum dolor sit amet...
                                        </div>
                                        <div class="message-time">32 sec ago</div>
                                    </li>
                                    <li class="message">
                                        <div class="message-icon"><img src="@Url.Content("~/Content/images/avatar2.jpg")"></div>
                                        <div class="message-content">
                                            <a href="#">John Doe</a> <br>
                                            Quisque commodo sed ipsum...
                                        </div>
                                        <div class="message-time">11 min ago</div>
                                    </li>
                                    <li class="message">
                                        <div class="message-icon"><img src="@Url.Content("~/Content/images/avatar2.jpg")"></div>
                                        <div class="message-content">
                                            <a href="#">John Doe</a> <br>
                                            Consectetur adipiscing elit...
                                        </div>
                                        <div class="message-time">3 hours ago</div>
                                    </li>
                                    <li class="message" style="position:relative;">
                                        <div class="message-icon"><img src="@Url.Content("~/Content/images/avatar2.jpg")"></div>
                                        <div class="message-content">
                                            <a href="#">John Doe</a><br>
                                            Quisque commodo sed ipsum...
                                        </div>
                                        <div class="message-time">2 days ago</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a data-toggle="dropdown" href="" class="con"><span class="fa fa-user"></span><span class="label label-primary">+5</span></a>
                                <ul role="menu" class="dropdown-menu pull-right dropdown-profile">
                                    <li class="title"><span class="icon icon-user"></span>&nbsp;&nbsp;Welcome, John!</li>
                                    <li><a href="#"><span class="fa fa-gears"></span>Settings</a></li>
                                    <li><a href="#"><span class="fa fa-user"></span>Profile</a></li>
                                    <li><a href="#"><span class="fa fa-envelope"></span>Messages</a></li>
                                    <li><a href="#"><span class="fa fa-power-off"></span>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="hidden-xs"> <form method="post" action="index.html" class="searchform"><input type="text" placeholder="Search here..." name="keyword" class="form-control"></form> </li>
                    <li id="last-one"> <a href="sair">Encerrar <i class="fa fa-angle-double-right"></i></a> </li>
                    <li><a id="show-right-info-bar" href="javascript:;" class=""><i class="fa fa-bars"></i></a></li>
                </ul><!--/nav navbar-nav-->
            </div><!--/header-seperation-->
        </div><!--/navbar-inner-->
    </div><!--/header-->

    <div class="right-info-bar">
        <div class="block">
            <div class="heading">Notifications</div>
            <!-- Notifications -->
            <ul class="infos">
                <li>
                    <span class="label label-primary pull-left"> <i class="fa fa-twitter"></i> </span>
                    <div class="info">
                        <h6>John Tweeted</h6>
                        <p class="designation">Few seconds ago</p>
                    </div>
                </li>
                <li>
                    <span class="label label-danger pull-left"> <i class="fa fa-warning"></i> </span>
                    <div class="info">
                        <h6>Server #999 Crashed</h6>
                        <p class="designation">3 minutes ago</p>
                    </div>
                </li>
                <li>
                    <span class="label label-info pull-left"> <i class="fa fa-plus"></i> </span>
                    <div class="info">
                        <h6>scott account was created</h6>
                        <p class="designation">7 days ago</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="block">
            <div class="heading">Progress Stats</div>
            <!-- Progress Stats -->
            <ul class="progress-statistics">
                <li>
                    <p class="details"> <span> Windows </span> <span class="pull-right"> 82% </span> </p>
                    <div class="progress progress-mini progress-striped active">
                        <div style="width: 82%" class="progress-bar progress-bar-success"> </div>
                    </div>
                </li>
                <li>
                    <p class="details"> <span> Linux </span> <span class="pull-right"> 47% </span> </p>
                    <div class="progress progress-mini progress-striped active">
                        <div style="width: 47%" class="progress-bar progress-bar-danger"> </div>
                    </div>
                </li>
                <li>
                    <p class="details"> <span> IPhone/IPad </span> <span class="pull-right"> 67% </span> </p>
                    <div class="progress progress-mini progress-striped active">
                        <div style="width: 67%" class="progress-bar progress-bar-info"> </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="block">
            <div class="heading">Online Users</div>
            <!-- Online Users -->
            <ul class="online-users">
                <li>
                    <a data-original-title="" data-status="online" data-lastname="John Doe" href="">
                        <span>John Doe</span>
                        <div class="user-status online"></div>
                    </a>
                </li>
                <li>
                    <a data-original-title="" data-status="online" data-lastname="Jacques" href="">
                        <span>Jacques</span>
                        <div class="user-status online"></div>
                    </a>
                </li>
                <li>
                    <a data-original-title="" data-status="online" data-lastname="Parnell" href="">
                        <span>Parnell</span>
                        <div class="user-status busy"></div>
                    </a>
                </li>
                <li>
                    <a data-original-title="" data-status="online" data-lastname="Fleming" href="">
                        <span>Fleming</span>
                        <div class="user-status away"></div>
                    </a>
                </li>
                <li>
                    <a data-original-title="" data-status="online" data-lastname="Shahbaz" href="">
                        <span>Shahbaz</span>
                        <div class="user-status"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block">
            <div class="heading">Storage Space</div>
            <!-- Progress Stats -->
            <ul class="progress-statistics">
                <li>
                    <p class="details"> <span> 77 GB of 100 GB used </span> <span class="pull-right"> 77% </span> </p>
                    <div class="progress progress-mini">
                        <div style="width: 18%" class="progress-bar progress-bar-info"></div>
                        <div style="width: 25%" class="progress-bar progress-bar-success"></div>
                        <div style="width: 34%" class="progress-bar progress-bar-warning"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--/right-info-bar-->

    <div class="page-container">
        <div class="nav-collapse top-margin fixed box-shadow2 hidden-xs" id="sidebar">
            <div class="leftside-navigation">
                <div class="sidebar-section sidebar-user clearfix">
                    <div class="sidebar-user-name">@Html.NomeAlunoLogado()</div>
                    <div class="sidebar-user-links">  <a title="" data-placement="bottom" data-toggle="" href="@Url.Action("Index","Home")" data-original-title="User"><i class="fa fa-user"></i></a> <a title="" data-placement="bottom" data-toggle="" href="inbox.html" data-original-title="Messages"><i class="fa fa-envelope-o"></i></a> <a title="" data-placement="bottom" data-toggle="" href="lockscreen.html" data-original-title="Logout"><i class="fa fa-sign-out"></i></a> </div>
                </div>
                <ul id="nav-accordion" class="sidebar-menu">
                    <li>
                        <h3>Opções</h3>
                    </li>
                    <li> <a href="/" class="@Html.Hover("Index", "Home")"> <i class="fa fa-dashboard"></i> <span>Visão geral</span> </a> </li>
                    <li> <a href="concursos" class="@Html.HoverControler("concursos")"> <i class="fa fa-bookmark"></i> <span>Concursos</span> </a> </li>
                    <li> <a href="cargos" class="@Html.HoverControler("cargos")"> <i class="fa fa-user"></i> <span>Cargos</span> </a> </li>
                    <li> <a href="areas" class="@Html.HoverControler("areas")"> <i class="fa fa-suitcase"></i> <span>Áreas</span> </a> </li>
                    <li> <a href="bancas" class="@Html.HoverControler("bancas")"> <i class="fa fa-shield"></i> <span>Bancas Examinadoras</span> </a> </li>
                    <li> <a href="instituicoes" class="@Html.HoverControler("instituicoes")"> <i class="fa fa-building-o"></i> <span>Instituições</span> </a> </li>
                </ul><!--/nav-accordion sidebar-menu-->
            </div><!--/leftside-navigation-->
        </div><!--/sidebar-->

        <div id="main-content">
            <div class="page-content">

                @RenderBody()

            </div><!--/page-content end-->
        </div><!--/main-content end-->
    </div><!--/page-container end-->
    <script>
        jQuery(document).ready(function () {
            EditableTable.init();
        });

        // Se selecionar mais de um estado, não permite selecionar cidades
        function getCidades(idEstado) {
            if (idEstado.length == 1) {
                getAtualizaCidades(idEstado[0], '#Cidades', "1");
            }
            else {
                $('#Cidades').multipleSelect('disable');
            }
        }

        function getCidadesPorEstado(idestado, seletor) {
            $.getJSON('@Url.Action("_GetCidadesPorIdEstado", "Util")', { idEstado: idestado }, function (cidades) {
                var option = "<option value=''>Selecione</option>";
                $.each(cidades, function (key, obj) {
                    option += "<option value=" + obj.Key + ">" + obj.Value + "</option>";
                });
                $(seletor).html(option);
            });
        }

        function getAtualizaCidades(idestado, seletor, atualiza) {
            $.getJSON('@Url.Action("_GetCidadesPorIdEstado", "Util")', { idEstado: idestado }, function (cidades) {
                var option;
                $.each(cidades, function (key, obj) {
                    option += "<option value=" + obj.Key + ">" + obj.Value + "</option>";
                });
                $(seletor).html(option);

                if (atualiza == "1") {
                    $('#Cidades').multipleSelect('refresh');
                    $('#Cidades').multipleSelect('enable');
                }
            });
        }

        function getEstadoInstituicao(idinstituicao) {
            $.getJSON('@Url.Action("_GetEstadoInstituicao", "Util")', { idInstituicao: idinstituicao }, function (data) {
                if (data.estado != 0) {
                    $('#Estados').multipleSelect('setSelects', [data.estado]);
                    $('#Estados').multipleSelect('disable');
                }
                else {
                    $('#Estados').multipleSelect('enable');
                }

                if (data.cidade != 0) {
                    var option = "<option value=" + data.cidade + " selected>" + data.nomeCidade + "</option>";
                    $('#Cidades').html(option);
                    $('#Cidades').multipleSelect('refresh');
                    $('#Cidades').multipleSelect('disable');
                }
                else if (data.estado != 0) {
                    getAtualizaCidades(data.estado, '#Cidades', "1");
                }
                else {
                    $('#Cidades').multipleSelect('enable');
                }

            });
        }

        function getDadosCargo(idCargo) {
            $.getJSON('@Url.Action("_GetDadosCargo", "Util")', { idCargo: idCargo }, function (data) {
                if (data.EscolaridadeId != 0)
                    $('#InputEscolaridadeId').val(data.EscolaridadeId);
                else
                    $('#InputEscolaridadeId').val('');
                if (data.Salario != '')
                    $('#InputSalario').val(data.Salario);
                else
                    $('#InputSalario').val('');
                if (data.CargaHoraria != 0)
                    $('#InputCargaHoraria').val(data.CargaHoraria);
                else
                    $('#InputCargaHoraria').val('');
            });
        }

    </script>

</body>
</html>


