﻿@model WebBancoConcursos.Models.LoginViewModel
@{Layout = null;}
@using (Ajax.BeginForm("Index", null, new AjaxOptions { OnComplete = "Completo", OnSuccess = "Sucesso", OnFailure = "Falha", OnBegin = "Carregando" }, new { @class = "form-horizontal", @style = "margin-bottom: 0px !important;" }))
{
    <div class="content">
        <h4 class="title">Login</h4>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(x => x.Usuario, new { @class = "form-control", @placeholder = "E-mail" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(x => x.Senha, new { @class = "form-control", @placeholder = "Senha" })
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <button type="submit" data-dismiss="modal" class="btn btn-primary">Acessar</button>
    </div>
}