﻿@model WebBConcursos.Models.AreaModel
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-registro">
@using (Ajax.BeginForm("Editar", "Areas", new AjaxOptions { UpdateTargetId = "div-listagem", OnComplete = "Completo", OnFailure = "Falha", OnBegin = "Carregando", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal", @style = "margin-bottom: 0px !important;" }))
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(h => h.AreaId)

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">Editar Área</h4>
            </div>
            <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
                            <div class="col-md-10 w-v">
                                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control focus" })
                                @Html.ValidationMessageFor(model => model.Nome)
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button" id="btnClose">Cancelar</button>
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        </div>
    </div>
}
</div>
<script type="text/javascript">
    function ReparseValidation() {
        $.validator.unobtrusive.parse("#modal-registro");
    }
    ReparseValidation();
</script>



