﻿@{
    ViewBag.Title = "Admin - Cargos";
}

<div class="row">
    <div class="col-md-12">
        <h2>Cargos</h2>
    </div><!--/col-md-12-->
</div><!--/row-->

<div class="row">
    <div class="col-md-12">
        <div class="block-web">
            <div class="header">
                <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="refresh" href="#"><i class="fa fa-repeat"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
                <h3 class="content-header">&nbsp;</h3>
            </div>
            <div class="porlets-content">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group">
                            <button class="btn btn-primary novo-registro" data-entity="@ViewContext.RouteData.Values["Controller"]">
                                Novo <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Ferramentas <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Imprimir</a></li>
                                <li><a href="#">Salvar como PDF</a></li>
                                <li><a href="#">Exportar par Excel</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="margin-top-10"></div>
                    <div id="div-listagem">
                        @Html.Action("Listar", "Cargos")
                    </div>
                </div>

            </div><!--/porlets-content-->
        </div><!--/block-web-->
    </div><!--/col-md-12-->
</div><!--/row-->

<div id="modal-result">
</div>
