﻿@model WebBConcursos.Models.InstituicaoViewModel
@{
    Layout = null;
}
<table class="table table-striped table-hover table-bordered" id="editable-sample">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Cadastro</th>
            <th>Alteração</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instituicoes)
        {
            <tr class="">
                <td>@item.InstituicaoId</td>
                <td>@item.Nome</td>
                <td>@item.Sigla</td>
                <td>@item.DataCadastro</td>
                <td>@item.DataAlteracao</td>
                <td><a class="editar-registro" href="javascript:EditarRegistro(@item.InstituicaoId, '@ViewContext.RouteData.Values["Controller"]');"><img src="@Url.Content("~/Content/images/edit.png")" border="0" /></a></td>
                <td><a class="excluir-registro" href="javascript:ExcluirRegistro(@item.InstituicaoId, '@ViewContext.RouteData.Values["Controller"]');"><img src="@Url.Content("~/Content/images/del.png")" border="0" /></a></td>
            </tr>
        }
    </tbody>
</table>


