﻿@model WebBConcursos.Models.ConcursoModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ConcursoModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ConcursoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConcursoId)
                @Html.ValidationMessageFor(model => model.ConcursoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao)
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ano, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ano)
                @Html.ValidationMessageFor(model => model.Ano)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QtdInscritos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdInscritos)
                @Html.ValidationMessageFor(model => model.QtdInscritos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tags)
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataValidadeConcurso, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataValidadeConcurso)
                @Html.ValidationMessageFor(model => model.DataValidadeConcurso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataCadastro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataCadastro)
                @Html.ValidationMessageFor(model => model.DataCadastro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataAlteracao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataAlteracao)
                @Html.ValidationMessageFor(model => model.DataAlteracao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataCancelamento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataCancelamento)
                @Html.ValidationMessageFor(model => model.DataCancelamento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstituicaoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstituicaoId)
                @Html.ValidationMessageFor(model => model.InstituicaoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BancaExaminadoraId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BancaExaminadoraId)
                @Html.ValidationMessageFor(model => model.BancaExaminadoraId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EstadoId)
                @Html.ValidationMessageFor(model => model.EstadoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CidadeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CidadeId)
                @Html.ValidationMessageFor(model => model.CidadeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
